button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $eerie-black;
  left: -100%;
  top: 0;
  transition: $transition-2;
}
button:hover::before {
  left: 0;
  border-left: 1px solid $verdigris;
  border-right: 1px solid $verdigris;
  border-radius: inherit;
}

.btn-arrow:hover {
  box-shadow: $shadow-2;
  color: $white !important;
  background-color: $verdigris;
}

.Doctors-listing ,.all-doctors{
  .container {
    .card {
      &:hover {
        border-color: $verdigris;
      }
    }
  }
}
.News-Article {
  .container {
    .swiper-wrapper {
      .neW-card {
        &::before,
        &::after {
          width: 100%;
          height: 100%;
          content: "";
          position: absolute;
          top: -100%;
          left: 0;
          background-image: url(../images/blog-card.jpg);
          opacity: 0.7;
          z-index: 1;
          transition: $transition-2-Llinear;
        }
        &::after {
          background: $ming;
          opacity: 0.9;
        }
        &:hover::before,
        &:hover::after {
          top: 0;
        }
        &:hover .admin,
        &:hover p,
        &:hover a,
        &:hover h2 {
          position: relative;
          z-index: 3;
          color: $white !important;
        }
      }
    }
  }
}

.footer {
  .container {
    .doclap {
      .mail-info {
        a {
          &:hover {
            color: $verdigris;
          }
        }
      }
      .phone-info {
        span {
          &:hover {
            color: $verdigris;
          }
        }
      }
    }
    .footer-info {
      .services,
      .Useful-Links {
        ul {
          li {
            a {
              &:hover {
                color: $verdigris;
              }
            }
          }
        }
      }
    }

    .social {
      .social-info {
        i {
          &:hover {
            background-color: $verdigris;
          }
        }
      }
    }
  }
}


#ourServices {
    .container {
      .text-services{
        .card {
          &:hover {
            border-color: $verdigris;
          }
        }
      }
    }
  }
