/* 
    -- colors
*/

$rich-black-fogra-29: hsl(222, 44%, 8%);
$middle-blue-green_40: hsla(174, 64%, 71%, 0.4);
$midnight-green: hsl(186, 100%, 19%);
$midnight-green_a25: hsla(186, 100%, 19%, 0.25);
$independece: hsl(236, 14%, 39%);
$verdigris: hsl(182, 100%, 35%);
$ming: hsl(186, 72%, 24%);
$space-cadet: hsla(226, 45%, 24%);
$eerie-black: hsl(0, 0%, 13%);
$alice-blue: hsl(187, 25%, 94%);
$gray-web: hsl(0, 0%, 50%);
$gainsboro: hsl(0, 0%, 87%);
$white: hsl(0, 0%, 100%);
$white_a20: hsla(0, 0%, 100%, 0.2);
$white_a10: hsla(0, 0%, 100%, 0.1);
$blue:hsl(218, 70%, 18%);
$blue-a20:hsl(225, 68%, 53%);
$black: hsl(0, 0%, 0%);


/* 
    -- text 
*/

$font-oswald:'Oswald', sans-serif;
$font-rubik: 'Rubik', sans-serif;

$headline-lg: 5rem;
$headline-md: 3rem;
$headline-sm: 2rem;
$title-lg: 1.8rem;
$title-md: 1.5rem;
$title-sm: 1.4rem;


/* 
    -- fixed size 
*/

$fixed-1:1rem;
$fixed-2:2rem;
$fixed-3:3rem;
$fixed-5:5rem;
$fixed-10:10rem;


$font-weight-1:200 ;
$font-weight-2:600 ;

/* 
    -- shadow 
*/
$shadow-1: 0px 2px 20px hsla(209, 36%, 72%, 0.2);
$shadow-2: 0 4px 16px hsla(0, 0%, 0%, 0.06);


/* 
    -- radius 
*/
$radius-circle: 50%;
$radius-12: 12px;
$radius-6: 6px;
$radius-4: 4px;


/* 
    -- transition 
*/

$transition-1: 0.25s ease;
$transition-2: 0.5s ease;
$transition-3: 1s ease;
$transition-2-Llinear: 0.5s linear;


/* 
    -- border 
*/


$border-1: 1px solid $verdigris;
$border-2: 2px solid $verdigris;
$border-3: 3px solid $verdigris;

