@import "./aditionalStyle/variable";
@import "./aditionalStyle/media";
@import "./aditionalStyle/global";
@import "./aditionalStyle/hover";
@import "./aditionalStyle/mixin";

@import "./aditionalStyle/nav";
@import "./aditionalStyle/preloader";
@import "./aditionalStyle/footer";

.intro {
  background-color: $blue;
  @include bgImage("../images/welcome-bg.png");
  .container {
    @include grid(300px);
    margin: $fixed-10 * 1.5 auto 0;
    gap: $fixed-3;
    align-items: end;
    .text {
      margin: $fixed-2;
      grid-column: span 2;
      @include flexColumn;
      h2 {
        color: $white;
      }
      h1 {
        margin: $fixed-3 0;
      }
      p.paragraph {
        color: $gray-web;
        margin-bottom: $fixed-5;
      }
    }
  }
}

.all-doctors {
  background-color: $alice-blue;
  .container {
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @include media-md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-sm {
      grid-template-columns: repeat(1, 1fr);
    }
    .text {
      grid-column: span 2;
      @include media-sm {
        grid-column: span 1;
      }
    }
    .card {
      transition: $transition-1;
      text-align: left;
      padding: 10px;
      width: 250px;
      @include flexCenter;
      justify-content: flex-start;
      border-radius: $radius-6;
      border: 2px solid $middle-blue-green_40;
      margin: 10px;
      cursor: pointer;
      img {
        margin-right: 20px;
      }
      h3 {
        font-size: $headline-sm;
        color: $verdigris;
      }
    }
  }
}

.all {
  .header {
    @include flexCenter;
    position: relative;
    height: 300px;
    h1 {
      color: $white;
      position: relative;
    }
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
  .container {
    padding: $fixed-3;
    @include grid(190px);
    .card {
      width: 190px;
      height: 254px;
      background: #3405a3;
      border-radius: 15px;
      box-shadow: 1px 5px 60px 0px #100a886b;
      .card-border-top {
        width: 60%;
        height: 3%;
        background: #6b64f3;
        margin: auto;
        border-radius: 0px 0px 15px 15px;
      }
      .img {
        overflow: hidden;
        width: 70px;
        height: 80px;
        background: #6b64f3;
        border-radius: 15px;
        margin: auto;
        margin-top: 25px;
        img {
          height: 100%;
          width: 100%;
        }
      }
      span {
        font-weight: 600;
        color: $white;
        text-align: center;
        display: block;
        padding-top: 10px;
        font-size: 16px;
      }
      .job {
        font-weight: 400;
        color: $white;
        display: block;
        text-align: center;
        padding-top: 3px;
        font-size: 12px;
      }
      button {
        padding: 8px 25px;
        display: block;
        margin: auto;
        border-radius: 8px;
        border: none;
        margin-top: 30px;
        background: #6b64f3;
        color: white;
        font-weight: 600;
      }
    }
  }
}
#Psychiatry {
  .header {
    @include bgImage("../images/doctors/Psychiatry.jpg");
  }
}
#Gynecology {
  .header {
    @include bgImage("../images/doctors/Gynecology.jpg");
  }
}
#Pulmonology {
  .header {
    @include bgImage("../images/doctors/pulmonologist_3.jpg");
  }
}

#Orthopedics {
  .header {
    min-height: 600px !important;
    @include bgImage("../images/doctors/Orthopedics.jpg");
    @include flexColumn;
    .container {
      background-color: $midnight-green;
      border-radius: $radius-12;
      margin-top: $fixed-5;
      display: flex;
      .bgimg {
        width: 100%;
        hr {
          margin: $fixed-3 0 $fixed-10;
        }
        p {
          text-align: center;
          color: $white;
          font-size: $headline-md;
          @include media-sm {
            font-size: $headline-sm;
          }
        }
      }
    }
  }
}

#Osteology {
  margin-top: $fixed-10;
  .header {
    @include bgImage("../images/doctors/Osteology.jpg");
  }
}

.fixed-book {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 15;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color:hsla(220, 45%, 8%, 0.922);
  transform-origin: top left;
  transition: 0.32s ease;
  visibility: visible;
  opacity: 1;
.logo{
  margin:$fixed-3 0;
  padding: $fixed-2;
  @include flexCenter;
  justify-content: space-between;
  i{
    color: $white;
    font-size: $headline-md;
    padding: $fixed-1;
    background-color: $ming;
    cursor: pointer;
    border-radius: $radius-6;
    transition: $transition-3;
    &:hover{
      transform: scale(1.1);
    }
  }
  h2{
    color: $verdigris;
    @include media-sm{
      position: absolute;
      top: 150px;
      width: 100%;
      text-align: center;
      margin-left:0;
    }
  }
}
.container{
  background-color: $white-a20;
  border-radius: $radius-6;
  @include flexCenter;
  padding: $fixed-5;
  @include media-sm{
    margin-top: $fixed-10
  }
  form{
    @include flexColumn;
    label{
      margin: $fixed-1/2 0;
      p{
        cursor: pointer;
        color: $white;
      }
      input{
        padding: $fixed-1/1.5 $fixed-2 $fixed-1/1.5 $fixed-1;
        font-size: $title-md;
      }

    }
    .date-time{
      margin-left: $fixed-2;
      margin-bottom: $fixed-2;
    }
  }
}
}


.hidden-book{
  width: 0;
  height: 0;
  visibility: hidden;
}
