/* 
    -- colors
*/
/* 
    -- text 
*/
/* 
    -- fixed size 
*/
/* 
    -- shadow 
*/
/* 
    -- radius 
*/
/* 
    -- transition 
*/
/* 
    -- border 
*/
/* 
    -- google font
*/
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Cairo:wght@400;600&family=DynaPuff:wght@400;600&family=Josefin+Sans:wght@600&family=Oswald:wght@200;400;500;700&family=Roboto:wght@400;500;900&family=Rubik+Wet+Paint&family=Ubuntu:ital,wght@0,500;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Cairo:wght@400;600&family=DynaPuff:wght@400;600&family=Josefin+Sans:wght@600&family=Oswald:wght@200;400;500;700&family=Roboto:wght@400;500;900&family=Rubik+Wet+Paint&family=Rubik:wght@300;400;600&family=Ubuntu:ital,wght@0,500;1,400;1,700&display=swap");
/* 
    -- global setting
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
  background-color: hsl(0, 0%, 100%);
}

section {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  margin: 0;
}

h1 {
  font-size: 5rem;
  color: hsl(186, 100%, 19%);
}

h2 {
  font-size: 3rem;
}

p, a, li {
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

button {
  padding: 1.8rem 3rem;
  background-color: hsl(182, 100%, 35%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  border: none;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
button p {
  position: relative;
  font-weight: 600;
  font-size: 1.5rem;
}

.container {
  width: 80%;
  margin: 0 auto;
}
@media (width <= 768px) {
  .container {
    width: 95%;
  }
}

i {
  cursor: pointer;
}

[data-transform] {
  opacity: 0;
  transition: 0.5s ease;
}

[data-transform=left] {
  transform: translateX(-50px);
}

[data-transform=right] {
  transform: translateX(5rem);
}

[data-transform=top] {
  transform: translateY(2rem);
}

.show {
  opacity: 1 !important;
  transform: translate(0) !important;
}

.active {
  background-color: hsl(187, 25%, 94%);
  color: hsl(182, 100%, 35%) !important;
  border: 1px solid hsl(182, 100%, 35%);
}

.hidden {
  display: none;
}

button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 13%);
  left: -100%;
  top: 0;
  transition: 0.5s ease;
}

button:hover::before {
  left: 0;
  border-left: 1px solid hsl(182, 100%, 35%);
  border-right: 1px solid hsl(182, 100%, 35%);
  border-radius: inherit;
}

.btn-arrow:hover {
  box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.06);
  color: hsl(0, 0%, 100%) !important;
  background-color: hsl(182, 100%, 35%);
}

.Doctors-listing .container .card:hover, .all-doctors .container .card:hover {
  border-color: hsl(182, 100%, 35%);
}

.News-Article .container .swiper-wrapper .neW-card::before, .News-Article .container .swiper-wrapper .neW-card::after {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  background-image: url(../images/blog-card.jpg);
  opacity: 0.7;
  z-index: 1;
  transition: 0.5s linear;
}
.News-Article .container .swiper-wrapper .neW-card::after {
  background: hsl(186, 72%, 24%);
  opacity: 0.9;
}
.News-Article .container .swiper-wrapper .neW-card:hover::before, .News-Article .container .swiper-wrapper .neW-card:hover::after {
  top: 0;
}
.News-Article .container .swiper-wrapper .neW-card:hover .admin, .News-Article .container .swiper-wrapper .neW-card:hover p, .News-Article .container .swiper-wrapper .neW-card:hover a, .News-Article .container .swiper-wrapper .neW-card:hover h2 {
  position: relative;
  z-index: 3;
  color: hsl(0, 0%, 100%) !important;
}

.footer .container .doclap .mail-info a:hover {
  color: hsl(182, 100%, 35%);
}
.footer .container .doclap .phone-info span:hover {
  color: hsl(182, 100%, 35%);
}
.footer .container .footer-info .services ul li a:hover,
.footer .container .footer-info .Useful-Links ul li a:hover {
  color: hsl(182, 100%, 35%);
}
.footer .container .social .social-info i:hover {
  background-color: hsl(182, 100%, 35%);
}

#ourServices .container .text-services .card:hover {
  border-color: hsl(182, 100%, 35%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transition: 0.25s ease;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem;
}
header .container .logo {
  cursor: pointer;
}
@media (width <= 1140px) {
  header .container .links {
    display: none;
  }
}
header .container .links ul {
  display: flex;
}
header .container .links ul li a {
  padding: 3rem;
  color: hsl(0, 0%, 100%);
}
header .container .login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}
header .container .login :nth-child(2) {
  color: hsl(0, 0%, 100%);
  visibility: hidden;
}
@media (width <= 1140px) {
  header .container .login :nth-child(2) {
    visibility: visible;
  }
}
header .container .login #login-btn {
  padding: 1.4rem;
}
@media (width <= 1140px) {
  header .container .login #login-btn {
    visibility: hidden;
  }
}
header .container .login i {
  font-size: 3rem;
  color: hsl(0, 0%, 50%);
}
header .container .login span::after {
  content: attr(data-number);
  font-size: 1.4rem;
  border-radius: 50%;
  background-color: hsl(0, 0%, 87%);
  position: absolute;
  top: 0;
  right: 0;
  width: calc(3rem - 5px);
  height: calc(3rem - 5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-header {
  position: fixed;
  height: 53vh;
  width: 100%;
  top: 0;
  background-color: hsl(0, 0%, 100%);
  z-index: 12;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}
.menu-header .links ul li {
  padding: 1.7391304348rem 1rem;
  border-bottom: 1px solid hsl(182, 100%, 35%);
}
.menu-header .links ul li a {
  font-weight: 600;
  color: hsl(186, 100%, 19%);
  font-size: 2rem;
}

.hidden-nav {
  opacity: 1;
  visibility: visible;
  top: 7.5rem;
}

.menuListUser {
  padding: 2rem;
  overflow: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 15;
  height: 100vh;
  width: 40vw;
  background-color: hsl(0, 0%, 0%);
  box-shadow: 0 4px 16px hsla(0, 0%, 0%, 0.06);
  transition: 0.5s ease;
  background-image: url("../images/welcome-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (width <= 768px) {
  .menuListUser {
    width: 100%;
  }
}
.menuListUser i {
  font-size: 1.8rem;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 6px;
}
.menuListUser .info {
  border-radius: 6px;
  margin: 2rem 0;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
}

.menuListUser.activeUSer {
  right: -100%;
  visibility: hidden;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsl(182, 100%, 35%);
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
#preloader .loader {
  border: 4px solid hsl(0, 0%, 100%);
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loaded-hidden {
  visibility: hidden;
  opacity: 0;
}

.footer {
  background-color: hsl(186, 100%, 19%);
  background-image: url("../images/welcome-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 100px 0;
}
.footer .container .doclap {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(186, 72%, 24%);
  border-radius: 6px;
}
@media (width <= 1140px) {
  .footer .container .doclap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px));
    gap: 20px;
  }
}
.footer .container .doclap .mail-info,
.footer .container .doclap .phone-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
}
.footer .container .doclap .mail-info i,
.footer .container .doclap .phone-info i {
  font-size: 3rem;
}
.footer .container .doclap .mail-info a,
.footer .container .doclap .phone-info a {
  color: hsl(0, 0%, 100%);
  transition: 0.25s ease;
}
.footer .container .doclap .mail-info span,
.footer .container .doclap .phone-info span {
  cursor: pointer;
  transition: 0.25s ease;
}
.footer .container .footer-info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 60px;
  margin: 50px 0;
  color: hsl(0, 0%, 100%);
}
.footer .container .footer-info .about-us p {
  margin: 20px 0;
}
.footer .container .footer-info .about-us .mapleview {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer .container .footer-info .about-us .mapleview i {
  font-size: 3rem;
}
.footer .container .footer-info .services ul,
.footer .container .footer-info .Useful-Links ul {
  display: flex;
  flex-direction: column;
}
.footer .container .footer-info .services ul li,
.footer .container .footer-info .Useful-Links ul li {
  padding: 10px;
}
.footer .container .footer-info .services ul li a,
.footer .container .footer-info .Useful-Links ul li a {
  font-size: 1.8rem;
  color: hsl(0, 0%, 100%);
  transition: 0.25s ease;
}
.footer .container .footer-info .subscribe form {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .container .footer-info .subscribe form input[type=email] {
  padding: 13px;
  background-color: inherit;
  border: 1px solid hsl(182, 100%, 35%);
  color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
}
.footer .container .footer-info .subscribe form input[type=email]::-moz-placeholder {
  color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
}
.footer .container .footer-info .subscribe form input[type=email]::placeholder {
  color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
}
.footer .container .social {
  width: 100%;
}
.footer .container .social .social-info {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
@media (width <= 768px) {
  .footer .container .social .social-info {
    flex-direction: column;
  }
}
@media (width <= 768px) {
  .footer .container .social .social-info .social-account {
    margin-top: 30px;
  }
}
.footer .container .social .social-info p {
  color: hsl(0, 0%, 100%);
}
.footer .container .social .social-info i {
  padding: 10px;
  font-size: 2rem;
  border-radius: 50%;
  background-color: hsla(0, 0%, 100%, 0.1);
  color: hsl(0, 0%, 100%);
  margin-right: 10px;
  transition: 0.25s ease;
}

section.services {
  background-color: hsl(218, 70%, 18%);
  background-image: url("../images/welcome-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section.services .container {
  margin: 15rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 3rem;
}
section.services .container .text {
  grid-column: span 2;
}
section.services .container .text h2 {
  color: hsl(0, 0%, 100%);
}
section.services .container .text h1 {
  color: hsl(182, 100%, 35%);
}
section.services .container .text p {
  margin: 3rem 0;
  color: hsl(0, 0%, 100%);
}
section.services .container .text button a {
  position: relative;
  color: hsl(0, 0%, 100%);
}

#ourServices {
  background-color: hsl(187, 25%, 94%);
}
#ourServices h2 {
  margin-top: 5rem;
  text-align: center;
  color: hsl(225, 68%, 53%);
}
#ourServices h1 {
  text-align: center;
  color: hsl(0, 0%, 0%);
}
#ourServices .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
}
#ourServices .container .text-services .card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
  border: 2px solid hsl(182, 100%, 35%);
  border-color: hsla(174, 64%, 71%, 0.4);
  padding: 2rem;
  cursor: pointer;
  transition: 0.25s ease;
}
#ourServices .container .text-services .card h2 {
  margin: 0;
  text-align: left;
}/*# sourceMappingURL=services.css.map */